/*导航栏效果*/

.nav .nav-l:hover .nav-bot-list{display: block;}

/*导航左边一级菜单*/
.nav-bot-list{display:none;width:190px;height: 430px;background: #444442;position: absolute;-webkit-box-shadow: -2px 0 2px rgba(0,0,0,.2);z-index: 50;}




.msg{overflow: hidden;}
.content{overflow: hidden;}
.show {margin-bottom: 50px;position: relative;height: 535px;float: left;}
.show .imgbox{width: 430px;height: 430px;}
.show .bigbox{width: 430px;height: 430px;position: absolute;left: 450px;top: 0;display: none;overflow: hidden;}
.show .bigbox img{width: 860px;height: 860px;position: absolute;top: 0;left: 0;}
.show .bigbox img:first-child{z-index: 5;}
#over{width: 215px;height: 215px;background: rgba(200,200,200,0.3);position: absolute;top:0;z-index: 10;display: none;}
.show .imgbox a{border: 1px solid #f0f0f0;width: 430px;height: 430px;display: block;position: absolute;top: 0;}
	.show .imgbox a:first-child{z-index: 5;}
	.show .imgbox a img{width: 430px;height: 430px;}
	.show .btns{overflow: hidden;margin: 10px 0 20px;}
	.show .btns a{width: 53px;height: 43px;float: left;margin: 4px;padding: 3px;box-sizing: border-box;}
	.show .btns a:hover img{border: 1px solid #ec595c;}
	.show .btns a.active{border: 3px solid #ec595c;padding: 0;}
	.show .btns a.active img{border:none;}
	.show .btns a img{width: 45px;height: 35px;border: 1px solid #ec595c;}
	.msg_r .red{color: #f00;}
	.msg_r .grey{color: grey;}
	.msg_r {float: right;width: 550px;font-size: 12px;}
	.msg_r img{display: inline-block;vertical-align: middle;}
		.msg_r h4{border-bottom: 1px solid #eee;line-height: 34px;font-size: 18px;color:#000;}
		.msg_r h4 p{float: right;font-weight: normal;color: #999;line-height: 24px;vertical-align: middle;}
		.msg_r h4 p a{color: #fd7c00;}
		.msg_r h4 p a:hover{text-decoration: underline;}
		.msg_r p {color: #999;line-height: 30px;overflow: hidden;margin: 10px 0;}
		
		.msg_r dl{height:50px;}
		.msg_r dl dt{float: left;margin-right: 20px;}
		.msg_r dl dd{float:left;}
		.msg_r dl dd ul li{float: left;border: 1px #000 solid;padding:2px 8px; margin-right: 5px;cursor: pointer;}
		.msg_r dl dd ul li.add{border: 1px #ec595c solid; color: #ec595c;}
		.price {color: #ec595c; font-size:35px}
		
		.msg_r p input[type=button]{background: #fff;border: 1px solid #999;padding: 2px;box-sizing: border-box;outline: none;}
		.msg_r p input.active{border: 3px solid #ec595c;padding: 0;}
		.msg_r p input:hover{border: 3px solid #ec595c;padding: 0;}
		.msg_r p input[type=text]{width: 30px;text-align: center;height: 20px;}
		
		
		.msg_r .buy{padding: 10px 0; overflow: hidden;}
		.msg_r .buy p{float: left;line-height: 65px;height: 40px;}
		.msg_r .buy input{color: #fff;padding: 6px 14px;text-align: center;font-size:16px;float:left;margin: 5px;border: none;border-radius: 4px;}
		.msg_r .buy input:nth-child(1){border:1px #ec595c solid; background: #fff;color: #ec595c;}
		.msg_r .buy input:nth-child(2){background:#ec595c;}
		.msg_r .buy+p{border-bottom: 1px solid #999;}
		.msg_r .buy+p+p img{margin-right: 15px;margin-left:30px;}
		.msg_r .buy~p{height: 40px;line-height: 40px;}
.content>ul{border-bottom: 1px solid #999;overflow: hidden;margin-bottom: 20px;}
	.content>ul li{float: left;padding:0 10px;height: 30px;line-height: 30px;border: 1px solid #999;background: #f0f0f0;margin-left: 10px;cursor: pointer;}
.content>a:nth-of-type(1) img{height: 420px;margin-left: -245px;}
.content>a:nth-of-type(2) img{margin: 10px 0;}
.content>a:nth-of-type(3) img{margin: 10px 0;}
.content>dl{width: 720px;height: 51px;margin-bottom: 10px;}
.content>dl dt{float: left;margin-right: 5px;vertical-align: middle;height: 51px;}
.content>dl dd{overflow: hidden;background: #ececec;font-size: 12px;height: 51px;}
.content>img{margin-bottom: 20px;}
