body{background: #fff;}
.top{height: 110px;}
.top .top-l{background: url(../img/login/logo.png) no-repeat left;width: 160px;height: 54px;float: left;margin-top: 28px;}
.top h1{display: block;width: 164px;height: 46px;font-size: 24px;color: #000;float: left;line-height: 46px;
border-left: 1px #ddd solid;text-align: center;margin-top: 33px;font-weight: 100;}


.box{width: 1920px;height:514px;margin: 0 auto;background: url(../img/login/bg.png) no-repeat center 0px;}
.box1{width: 500px;height:484px;margin: 0 auto;border: 6px #ddd solid;box-sizing: border-box;padding: 59px 0 0 94px;
background: url(../img/login/logo2.png) no-repeat center bottom;}
.box1 span{color: #ff002a;font-size: 16px;margin-right: 168px;}
.box1 a{color: #0088cc;}


.box2{margin-top: 25px;}
.box2 a{margin:0 0 16px 238px;display: block;color: #666;}
.box2 a:hover{color: #0088cc;text-decoration: underline;}
.box2 a:nth-of-type(2){width:142px;margin-left: 157px;margin-top: 10px;display: block;
padding-left:22px;box-sizing:border-box;background: url(../img/login/ka.png) no-repeat left center;}
.bbox{width: 455px;height: 58px;padding: 11px 0;box-sizing: border-box;}

.bbox input{float: left;border:none; border: 1px #f77799 solid;height: 36px;width: 300px;
box-sizing: border-box;border-radius: 2px;font-size: 12px;box-sizing: border-box;color: #a9a9a9;padding-left: 30px;}

.check{width: 302px;margin-left: 116px; line-height: 34px;}
.check input{border: none;margin-top: 2px;}
.check span{margin-left: 23px;}


#login{height: 36px;width: 300px;background: #e6133c;border-radius: 4px; color: #fff;text-align: center;font: 16px/36px "";}

